@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  --time: all 0.2s ease-out;
}

@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  :root {
    font-size: 12px;
  }
}

header {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(media/rome.jpg);
  background-size: cover;
  background-position: center;
  will-change: transform;
  animation-name: party;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes party {
  0% {
    transform-origin: 50%;
    transform: scale3d(1,1,1);
  }
  50% {
    transform-origin: 10%;
    transform: scale3d(1.1, 1.1, 1);
  }
  75% {
    transform-origin: 90%;
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform-origin: 20%;
    transform: scale3d(1.3, 1.3, 1);
  }
}

#ham {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transform: scale(0.8);
}

#ham>span {
  display: block;
  width: 100%;
  height: 9px;
  background-color: #fff;
  position: absolute;
  border-radius: 9px;
  transition: var(--time);
}

#ham>span:nth-child(1) {
  top: 0;
}

#ham>span:nth-child(2),
#ham>span:nth-child(3) {
  top: 18px;
}

#ham>span:nth-child(4) {
  top: 36px;
}

#ham.open>span:nth-child(1), 
#ham.open>span:nth-child(4) {
  top: 18px;
  opacity: 0;
}

#ham.open>span:nth-child(2) {
  transform: rotate(45deg);
}

#ham.open>span:nth-child(3) {
  transform: rotate(-45deg);
}

nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  transition: var(--time);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav>ul {
  text-align: center;
  list-style-type: none;
  background-image: url(media/wreath-32.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 4rem;
}

nav a {
  color: #bbb;
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
  transition: var(--time);
}

nav a:hover {
  transform: scale(1.2);
}

.visible {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 1;
  text-align: center;
  background-image: url(media/wreath-128.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 160px;
  margin-bottom: 6rem;
  z-index: 5;
}

h1>span:first-child {
  display: block;
  font-weight: 100;
  font-size: 100px;
  white-space: nowrap;
}

h1>span:last-child {
  display: block;
  font-weight: 600;
  font-size: 99px;
  line-height: 0.8;
}

@media (max-width: 1400px) {
  h1 {
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  h1 {
    transform: scale(0.6);
  }
}

@media (max-width: 320px) {
  h1 {
    transform: scale(0.4);
  }
}

#btn {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px;
  border: 1px solid #fff;
  padding: 28px 42px;
  background-color: rgba(0,0,0,0.3);
  transition: var(--time);
  z-index: 5;
}

#btn:hover {
  transform: scale(1.1);
}

main {
  position: relative;
  background-color: #1a1a1a;
  color: #ccc;
  padding: 0 2rem;
  overflow: auto;
  text-align: center;
}

section {
  margin: 6rem 0;
}

#intro>img {
  display: inline-block;
  width: 180px;
  border-radius: 50%;
  margin-bottom: 3rem;
}

#intro>p {
  font-size: 1.2rem;
  line-height: 1.4;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

#grid img {
  display: block;
  width: 100%;
}

#grid>div:nth-child(1) {
  grid-row: 1 / 3;
}

footer {
  position: relative;
  z-index: 20;
  background-color: #fff;
  padding: 20px;
}

#test::before {
  content: "AAAAAA";
}

#test::after {
  content: "xxxxx";
}